main {
  display: flex;
  gap: 1rem;
  padding-left: 320px;
  padding-right: 1rem;
  margin-top: 2rem;
}
nav {
  width: 320px;
  padding: 1rem;
  position: fixed;
  top: 125px;
  left: 0;
  box-sizing: border-box;
}
ul li {
  margin-bottom: 1rem;
}
.goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 1rem;
  margin-bottom: 2rem;
}
.good {
  display: flex;
  flex-direction: column;
}
.good:hover img {
  transform: scale(1.1);
}
.good .image {
  max-width: 100%;
  max-height: 300px;
  margin: auto;
  overflow: hidden;
}
.good .image img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.5s;
}
.good p {
  text-align: center;
  display: flex;
  align-items: center;
}
.price {
  margin-bottom: 0;
  color: #ffaa00;
  font-weight: bold;
  font-size: 1.5rem;
}
.good button {
  align-self: center;
}
